@page "/login"
@inject NavigationManager Nav

<h3>Connexion</h3>

<div style="max-width:420px">
    <label>Utilisateur</label>
    <input class="form-control" @bind="Username" />

    <label class="mt-2">Mot de passe</label>
    <input type="password" class="form-control" @bind="Password" />

    <button class="btn btn-primary mt-3" @onclick="Connect">Se connecter</button>
</div>

@code {
    private string Username = "";
    private string Password = "";

    private void Connect()
    {
        // Simulation : on ne vérifie rien pour l’instant
        Nav.NavigateTo("/consultation");
    }
}
