name: Image builder

on:
  push:
    branches: ["main", "master"]

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  docker-build:
    uses: ERP-CNAM/workflows-templates/.github/workflows/image-builder.yml@main
